astroid==2.2.5
attrs==19.1.0
autopep8==1.4.3
awscli==1.16.135
awsebcli==3.14.13
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.7.1
blessed==1.15.0
blinker==1.4
botocore==1.12.125
bs4==0.0.1
cached-property==1.5.1
cairocffi==1.0.2
CairoSVG==2.3.0
cement==2.8.2
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
colorama==0.3.9
cs50==3.1.0
cssselect2==0.2.1
defusedxml==0.5.0
docker==3.7.2
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==1.0.2
Flask-Mail==0.9.1
Flask-WTF==0.14.2
future==0.16.0
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.4
jsonschema==2.6.0
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
pathspec==0.5.9
pexpect==4.6.0
Pillow==5.4.1
ptyprocess==0.6.0
pyasn1==0.4.5
pycodestyle==2.5.0
pycparser==2.19
python-dateutil==2.8.0
PyYAML==3.13
requests==2.20.1
rsa==3.4.2
s3transfer==0.2.0
semantic-version==2.5.0
six==1.11.0
soupsieve==1.8
SQLAlchemy==1.3.3
sqlparse==0.3.0
submit50==2.4.9
termcolor==1.1.0
texttable==0.9.1
tinycss2==1.0.2
typed-ast==1.3.5
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.2
wrapt==1.11.1
WTForms==2.2.1
